.img-dress-code{
    width: 300;
    height: auto;
}

.carousel{
    margin: 0 auto;
    width: 500px;
    height: auto;
}

@media (max-width: 768px) {
    .img-dress-code{
        width: 100%;
        height: auto;
    }

    .carousel{
        width: 100%;
        height: auto;
    }
  }