#location{
    margin: 0 auto;
}

#location .card{
    height: 564px;
    width: auto;
    margin: 0 auto;
    color: black;
}



.btn-location{
    position: absolute;
    bottom: 25px;
    left: 1em;
    background-color: #BC79FF;
    color: white;
    border: solid 1px #B871FE;
    width: 90%;
}

.card > img {
    border-radius: 30px;
}

.btn-location:hover{
    background-color: #DAB5FF;
    color: wheat;
}

@media (max-width: 768px) {
    #location .card{
        height: 510px;
        width: auto;
    }
  }