#location{
    margin: 0 auto;
}

.img-itinerary{
    margin: 0 auto;
    width: 90%;
}

#location .card{
    height: 35em;
    width: auto;
    margin: 0 auto;
    color: black;
}

.card-img-top{
    width: 80%;
    display: flex;
    margin: 0 auto;
}


.btn-location{
    position: absolute;
    bottom: 25px;
    left: 1.1em;
    background-color: #BC79FF;
    color: white;
    border: solid 1px #B871FE;
    width: 90%;
    margin-top: 25px;
}

.card > img {
    border-radius: 30px;
}

.btn-location:hover{
    background-color: #DAB5FF;
    color: wheat;
}

@media (max-width: 767px) {
    #location .card{
        height: 600px;
        width: auto;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    #location .card{
        height: 630px;
    }

    .btn-location{
        width: 95%;
    }

    .card-img-top{
        height: 360px;
        display: flex;
        margin: 0 auto;
    }

    .img-itinerary{
        margin: 0 auto;
        height: 580px;
        width: auto;
    }

    #location .col-md-4{
        width: 100%;
    }
  }

  @media (min-width: 280px) and (max-width: 320px) {
    #location .card{
        height: 510px;
    }

    .img-itinerary{
        height: 100%;
    }

    #location .col-md-4{
        width: auto;
    }
  }

  @media (min-width: 321px) and (max-width: 420px) {
    #location .card{
        height: 510px;
    }

    #location .col-md-4{
        width: auto;
    }

    
  }