


.background-image {
    background-image: url("images/principal.jpeg");
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.large-text {
    font-size: 4.5em;
}

#presentation h3 {
    font-size: 3em;
    margin-top: 400px;
}

p {
    font-family: 'Satisfy';
    margin: 0;
}

* {
    font-family: 'Satisfy';
    color: black;
}

#presentation h3{
    -webkit-text-stroke: 1.4px black;
    text-stroke: 2px black;
    -webkit-text-fill-color: white;
    text-fill-color: white;
    color: wheat;
}

#presentation .our-w{
    -webkit-text-stroke: 1.4px black;
    text-stroke: 2px black;
    -webkit-text-fill-color: white;
    text-fill-color: white;
    color: wheat;
}

#presentation .timer p{
    -webkit-text-stroke: 0.1px black;
    text-stroke: 0.1px white;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(17, 16, 16, 0.9);
}

.row .timer{
    margin: 0 auto;
    background-color: rgba(55, 55, 55, 0.4);
    font-size: 3em;
}

.row .time{
    margin: 0 auto;
    background-color: rgba(35, 35, 35, 0.6);
    font-size: 20px;
    margin-bottom: 180px;
}

.row .time h4{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.w-date{
    background-color: rgba(55, 55, 55, 0.4);
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.w-date p{
    color: white;
    font-size: 2.2em;
    -webkit-text-stroke: 0.4px black;
}

.w-date .w-day{
    font-size: 3em;
}

@media (max-width: 768px) {
    .background-image {
        background-image: url("images/principal.jpeg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }
  }

  @media (min-width: 769px) and (max-width: 1023px) {
    #presentation h3 {
        font-size: 3em;
        margin-top: 100PX;
    }

    .w-date p{
        color: white;
        font-size: 2em;
        -webkit-text-stroke: 0.8px black;
    }

    .time{
        margin-bottom: 50px;
    }
  }


  @media (min-width: 1024px) {
    #presentation h3 {
        font-size: 3em;
        margin-top: 100PX;
    }

    .w-date p{
        color: white;
        font-size: 2em;
        -webkit-text-stroke: 0.8px black;
    }

    .time{
        margin-bottom: 50px;
    }
  }

  @media (min-width: 270px) and (max-width: 300px) {
    #presentation h3 {
        font-size: 3em;
        margin-top: 100PX;
    }

    .w-date p{
        color: white;
        font-size: 1.5em;
        -webkit-text-stroke: 0.8px black;
    }

    .w-date .w-day{
        font-size: 2em;
    }

    .large-text{
        font-size: 3em;
    }

    .row .timer{
        font-size: 2em;
    }

    .time h4{
        font-size: 15px;
    }

    .time{
        margin-bottom: 50px;
    }
  }

