@font-face{
    font-family: 'Dancing Script';
    src: url('fonts/DancingScript-VariableFont_wght.ttf');
    font-family: 'Alice';
    src: url('fonts/Alice-Regular.ttf');
}


.background-image{
    background-image: url("images/pareja.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.large-text{
    font-size: 4em;
}

h3{
    margin-top: 500px;
}

p{
    font-family: 'Dancing Script';
    margin: 0;
}

*{
    font-family: 'Alice';
    color: black;
}

