.background-image{
    background-image: url("images/gengar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

h1{
    margin-top: 200px;
    color: white;
}

p{
    color: white;
    margin: 0;
}

*{
    color: white;
}

