.heart{
    font-size: 3em;
}

.card{
    background-color: #FAF4FF;
}

#wishlist .card{
    margin-bottom: 10px;
}

.img-wishlist{
    width: 36px;
    height: 36px;
}

.logo-wishlist{
    display: flex;
    align-items: center;
    align-content: center;
}

.wishlist-link{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
}

.gift-text{
    font-size: 3em;
    font-weight: bold;
}

footer{
    background-color: #A347FF;
}

.bank-data{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bank-data p{
    font-family: 'Montserrat', sans-serif;
}

.img-bank{
    width: 19px;
}

#bank{
    cursor: pointer;
}

#wishlist .card:hover{
    background-color: #D8B8F9;
}

.modal-wishlist-content {
    background-color: #fff;
    padding: 50px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    border-radius: 10px;
    animation: slideDown 0.5s ease forwards;
}

.bank-data > .modal-wishlist-content {
    background-color: #fff;
    padding: 50px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    border-radius: 10px;
    animation: slideUp 0.5s ease forwards;
}

@media (max-width: 768px) {
    .modal-wishlist-content>p {
        font-size: 0.85em;
    }

    .modal-wishlist-content .large-text {
        font-size: 1.5em;
    }
}